.burger {
	position: fixed;
	top: 8px;
	right: 2px;
	width: 100px;
	height: 100px;
	&:hover .burger,
	.burger-line {
		animation: burgerGlow 1s ease-in-out infinite alternate;
	}
	.ctqToo {
		width: 100px;
		height: 100px;
	}
	.imageCircul {
		position: absolute;
		width: 98%;
		height: 98%;
		border-radius: 100%;
		border: solid 1px #780000;
		z-index: -3;
		background: linear-gradient(
			120deg,
			rgba(128, 0, 0, 1) 0%,
			rgba(255, 0, 0, 1) 50%,
			rgba(120, 15, 15, 1) 100%
		);
		animation: burgerGlow 1s ease-in-out infinite alternate;
		.loadingSign {
			position: absolute;
			z-index: -2;
			width: 100px;
			height: 100px;
		}
	}
	.img {
		position: absolute;
		margin: 5% 5%;
		width: 90%;
		height: 90%;
		border-radius: 100%;
		border: solid 1px #780000;
		box-shadow: 0 0 3px black;
	}
	.statusCircul {
		position: absolute;
		bottom: -5%;
		left: 0;
		width: 33%;
		height: 33%;
		border-radius: 100%;
		border: solid 1px #780000;
		background: linear-gradient(
			120deg,
			rgba(128, 0, 0, 1) 0%,
			rgba(255, 0, 0, 1) 50%,
			rgba(120, 15, 15, 1) 100%
		);
	}
	.statusLight {
		margin: 6%;
		border-radius: 100%;
		width: 85%;
		height: 85%;
		border: solid 1px #780000;
		box-shadow: 1px 1px black inset;
		background: radial-gradient(
			ellipse at center,
			rgba(255, 255, 0, 1) 0%,
			rgba(74, 206, 1, 1) 67%,
			rgba(74, 206, 1, 1) 100%
		);
	}
	.burger {
		position: absolute;
		top: 73%;
		right: 1%;
		width: 34%;
		height: 34%;
		border-radius: 13%;
		border: solid 1px #780000;
		background: linear-gradient(
			0deg,
			rgba(128, 0, 0, 1) 0%,
			rgba(255, 0, 0, 1) 50%,
			rgba(120, 15, 15, 1) 100%
		);
	}
	.burger-line {
		margin: 5px auto;
		width: 60%;
		border-radius: 8px;
		border: solid 2px #780000;
	}
}

@keyframes burgerGlow {
	0% {
		box-shadow: 0 0 6px #ff7c00, 0 0 10px #ff7c00;
	}
	100% {
		box-shadow: 0 0 10px #ff7c00, 0 0 16px #e21102;
	}
}
