.modal {
  .modalCover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #f5f5f5a3;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: 750ms ease;
  }
  .modalCoverUp {
    opacity: 1;
    pointer-events: auto;
  }
  .modalInside {
    visibility: "visible";
    top: -300px;
    transition: 800ms ease;
    position: fixed;
    width: 300px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
    text-align: center;
    border: solid 3px #f86e00;
    border-radius: 4px;
    transition: 750 ease;
    z-index: 3;
  }
  .modalIn {
    transform: translateY(150%);
  }
  .close {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 1.3rem;
    color: #f86e00;
    border: solid 2px #f86e00;
    padding: 2px;
    border-radius: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    &:hover {
      color: gray;
      border: solid 2px gray;
    }
  }
}
