.projects {
	margin-left: 7%;
	margin-right: 7%;
	.About {
		margin: 0 5%;
		margin-top: 40px;
		text-align: center;
		max-width: 1080px;
		border: solid 4px #f86e00;
		border-radius: 4px;
		padding: 5px 10px;
		color: #984401;
		box-shadow: 2px 2px #555;
		font-size: 14px;
	}
	.fbox {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.projectTitle {
		left: 0;
		right: 0;
		margin: 0 auto;
		margin-top: 10px;
		text-align: center;
		width: 190px;
		border: solid 4px #f86e00;
		border-radius: 4px;
		padding: 5px 10px 7px 10px;
		color: #f86e00;
		text-shadow: 1px 1px gray;
		box-shadow: 2px 2px #555;
		&:hover {
			background-color: whitesmoke;
		}
	}
	.about-title {
		font-size: 18px;
		font-weight: 500;
	}
	.about-content {
		text-align: left;
	}
}
