.projectSlides {
	border-radius: 5px;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		120deg,
		rgba(255, 0, 223, 0.18) 0%,
		rgba(255, 124, 0, 0.18) 48%,
		rgba(255, 0, 223, 0.17) 100%
	);
	transform: translateX(100%);
	.bottom-Line {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20%;
		background: linear-gradient(
			120deg,
			rgba(255, 124, 0, 0) 0%,
			rgba(255, 119, 0, 0) 11.5%,
			rgba(255, 118, 0, 1) 12%,
			rgba(255, 72, 0, 1) 60%,
			rgba(255, 124, 0, 1) 100%
		);
	}
	.title,
	.content {
		margin-left: 10px;
		color: white;
		animation: slideGlow 1s ease-in-out infinite alternate;
	}
	.tagWrapper {
		display: flex;
		margin-left: 150px;
		margin-top: 10px;
	}
	.tags {
		display: flex;
		margin-left: 30px;
		color: white;
		text-decoration: none;
		font-size: 35px;
		&:hover {
			color: #fdefef;
		}
	}
	@media only screen and (max-width: 600px) {
		.tagWrapper {
			margin-left: 120px;
			margin-top: 5px;
		}
		.tags {
			font-size: 27px;
		}
	}
}
.slide-in {
	animation: slideIn 1s forwards linear;
}
.slide-out {
	animation: slideOut 1s forwards linear;
}

@keyframes slideIn {
	100% {
		transform: translateX(0%);
	}
}
@keyframes slideOut {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(200%);
	}
}
@keyframes slideGlow {
	0% {
		text-shadow: 0 0 5px #ff3b00, 0 0 7px #e86407;
	}
	100% {
		text-shadow: 0 0 8px #ff0000, 0 0 14px #9a0303;
	}
}
