.fbox {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.projects {
  margin-left: 7%;
  margin-right: 7%;
  cursor: default;
  .About {
    margin: 20px 4%;
    text-align: center;
    border-radius: 4px;
    padding: 40px;
    color: #6e3506;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.141);
    @media only screen and (max-width: 600px) {
      margin: 10px 8%;
    }
  }
  .projectTitle {
    left: 0;
    right: 0;
    margin: 15px auto;
    margin-top: 10px;
    text-align: center;
    width: 250px;
    border-radius: 4px;
    padding: 5px 10px 7px 10px;
    color: #6e3506;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.141);
    user-select: none;
    background-color: rgba(255, 255, 255, 0.911);
    p {
      font-size: 15px;
    }
  }
  .about-title {
    font-size: 18px;
    font-weight: 500;
    &::selection {
      background: rgba(253, 169, 169, 0.596);
    }
  }
  .about-content {
    text-align: left;
    margin: 20px;
    &::selection {
      background: rgba(253, 169, 169, 0.596);
    }
  }
}
