.videoCards {
	margin: 10px;
	width: 450px;
	height: 250px;
	.projectImage {
		position: absolute;
		width: 450px;
		height: 250px;
	}
	.center {
		position: absolute;
		margin: 90px 194px;
	}
	.card {
		margin-right: 0;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 3px 5px #555;
	}
	.slide {
		transform: translateX(100%);
		height: 100%;
	}
	.slidein {
		animation: slidein 1s forwards linear;
	}
	.slideout {
		animation: slideout 1s forwards linear;
	}

	@media only screen and (max-width: 600px) {
		width: 350px;
		height: 190px;
		.projectImage {
			width: 350px;
			height: 190px;
		}
		.links {
			bottom: 5px;
			right: 180px;
		}
		.center {
			margin: 64px 133px;
		}
	}
}
@keyframes slidein {
	100% {
		transform: translateX(0%);
	}
}
@keyframes slideout {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(200%);
	}
}
